@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #F0F5FB;
  --color-brand-primary: #005AAB;
  --color-brand-primary-light: #5B8DB8;
  --color-brand-accent: #E3EDF7;
  --color-brand-border: #C8DDF0;
  --color-brand-card: #FFFFFF;
  --color-brand-text: #111827;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}
